receivers:
  - name: slack
    slack_configs:
      - api_url: $SLACK_URL
        channel: '$SLACK_CHANNEL'
        send_resolved: true
        text: '{{ .CommonAnnotations.description }}'
        username: Prometheus
route:
  receiver: slack
