services:
  cadvisor:
    container_name: cadvisor
    devices:
      - /dev/kmsg:/dev/kmsg
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    labels:
      org.label-schema.group: monitoring
    network_mode: host
    privileged: true
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
  nodeexporter:
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    container_name: nodeexporter
    image: prom/node-exporter:v1.10.2
    labels:
      org.label-schema.group: monitoring
    network_mode: host
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
